{% extends 'CollegeFootballAppBundle:Security:layout.html.twig' %}

{% block content %}
    <div class="container">
        <div style="margin-top: 5%;">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6" style="padding-top: 25px;">
                <div class="alert alert-info">
                    Enter email address to get a temporary password
                </div>
                <div class="panel panel-custom">
                    <div class="panel-body">
                        {{ form_start(form) }}
                            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">
                                {{ icon('paper-airplane') }}
                                Send reset link
                            </button>
                        {{ form_end(form) }}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
