{% extends 'AppBundle:Team:layout.html.twig' %}

{% block content %}
    <div class="row">
        {% for team in teams %}
            {% if loop.first %}
                <div class="col-lg-4">
                    <ul class="list-group">
            {% elseif loop.index == teams|length / 3 %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
            {% endif %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">{{ team }}</h4>
            </li>
        {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
