{% extends 'CollegeFootballAppBundle:Email:layout.html.twig' %}

{% block message %}
    A new password has been requested for your account. Please login and change your password.
    <br><br>
    Click here to change your password
    <br>
    <a href="college-football.herokuapp.com/forgot-password/{{ unique_password }}">
        college-football.herokuapp.com/forgot-password/{{ unique_password }}
    </a>
{% endblock %}
